* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.container {
  height: 900px;
  width: 1025px;
}

.jogo {
  display: flex;
}

.jogo img {
  height: 470px;
  width: 400px;
}

.direita {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 350px;
  
}

.direita button {
  background-color: #27ae60;
  border-radius: 8px;
  border: none;
  height: 60px;
  width: 200px;
  font-size: 20px;
  font-style: bolder;
  color: #ffffff;
}

.direita .palavra {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  color: #ff0000;
}

.direita .acertou{
  color:#27ae60;
}

ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 1100px;
  height: 150px;
  margin-top: 50px;
}

.button {
  width: 80px;
  height: 80px;
  background-color: #e1ecf4;
  border: 1px solid #7aa7c7;
  border-radius: 3px;
  font-family: "Roboto";
  font-style: bolder;
  font-size: 40px;
  text-align: center;
  color: #7aa7c7;
  margin-top: 10px;
}

.button[type="text"]:disabled{
  background-color: #9faab5;
  color: #798a9f;
}


.chute {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.chute h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.chute input {
  background: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  width: 360px;
  height: 40px;
  margin: 0 15px 0 15px;
}

.chute input[type="text"]:disabled{
  
}

.chute button {
  background: #e1ecf4;
  border: 1px solid #7aa7c7;
  border-radius: 3px;
  width: 100px;
  height: 40px;
}

.chute button p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #3c76a1;
}
